{% extends 'base.html' %}
    {% block content %}
<!-- banner -->
<div class="banner" id="home">
	<div class="layer">
		<div class="container">
			<div class="banner-text-w3pvt">
				<!-- banner slider-->
				<div class="csslider infinity" id="slider2">
					<input type="radio" name="slides" checked="checked" id="slides_2" />
					<input type="radio" name="slides" id="slides_3" />
					<ul class="banner_slide_bg">
						<li>
							<div class="w3ls_banner_txt">
								<h3 class="b-w3ltxt text-capitalize mt-md-4">Code <span>Walk</span> </h3>
								<h4 class="b-w3ltxt text-capitalize">Procure your tech knowledge</h4>
								<p class="w3ls_pvt-title my-3">Obtain the latest techs that are available
									 and most demanded in market
								</p>
								<a href="#" class="btn btn-banner my-sm-3 mr-2">Read More</a>
								<a href="#" class="btn btn-banner1 my-sm-3">Get Started</a>
							</div>
						</li>
						<li>
							<div class="w3ls_banner_txt">
								<h3 class="b-w3ltxt text-capitalize mt-md-4">Code <span>War</span> </h3>
								<h4 class="b-w3ltxt text-capitalize">Conquer your code world</h4>
								<p class="w3ls_pvt-title my-3">
									Enjoy the seconds & perks in the battle with all sedulous holmies
								</p>
								<a href="#" class="btn btn-banner my-sm-3 mr-2">Read More</a>
								<a href="#" class="btn btn-banner1 my-sm-3">Get Started</a>
							</div>
						</li>
					</ul>
					<div class="navigation">
						<div>
							<label for="slides_2"></label>
							<label for="slides_3"></label>
						</div>
					</div>
				</div>
				<!-- //banner slider-->
			</div>
		</div>
	</div>
</div>
<!-- //banner -->
{% endblock %}