{% extends 'base.html' %}
    {% block content %}
    <!-- inner-banner -->
<section class="inner-banner" id="home" style="max-height: 100px;">
	<div class="inner-layer">
		<div class="container">
		</div>
	</div>
</section>
<!-- //inner-banner -->
    <!-- breadcrumb -->
    <div class="breadcrumb-w3pvt bg-light">
            <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/dashboard">Practice</a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">
                            <a href="/python">Python</a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">
                            <a href="#">{{task['title']}}</a>
                    </li>
                </ol>
            </nav>
            <div class="row">
                    <div class="column" style="float: left; width: 70%;">
                            <div class="row">
                                <div class="col-9"><h4>Task:</h4></div>
                                <div class="col-3"><h5><a href="" onclick="not_developed_alert()">Comments</a></h5></div>
                            </div><br/>
                <div class="progress-one my-lg-4">
                        <div class="col-18 mt-lg-10 grid">
                                <h3>{{task['title']}}</h3>
                                <p class="mt-2">{{task['desc']}}</p>
                            </div>
                        <div class="col-18 mt-lg-10 grid">
                                <h6>input:</h6>
                                <p class="mt-2">{{task['input_format']}}</p>
                            </div>
                        <div class="col-18 mt-lg-10 grid">
                                <h6>output:</h6>
                                <p class="mt-2">{{task['output_format']}}</p>
                            </div>
                      </div>
                      {% for example_key in task['examples'].keys()|sort %}
                    <div class="progress-one my-lg-4">
                        <div class="col-18 mt-lg-10 grid">
                                <h3>{{example_key}}</h3>
                                </div>
                        <div class="col-18 mt-lg-10 grid">
                                <h6>input:</h6>
                                <p class="mt-2">{{task['examples'][example_key]['input']}}</p>
                            </div>
                        <div class="col-18 mt-lg-10 grid">
                                <h6>output:</h6>
                                <p class="mt-2">{{task['examples'][example_key]['output']}}</p>
                            </div>
                      </div>
                      {% endfor %}
                      <form role="form" method="POST" action="/submit" id="submit_form">
                        <fieldset>
                      <div class="form-group  sub-meta">
                            <label for="code">Type your code:</label><span style="float: right;">python2.7</span>
                            <!--<textarea class="form-control" rows="7" name="code" id="code" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+' '+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}">
                            </textarea>-->
                            <input type="hidden" id="script_template" name="script_template" value="{{script_template}}">
                            <input type="hidden" id="task_tit" name="task_tit" value="{{task['title']}}"/>
                            <input type="hidden" id="test_run" name="test_run" value="false"/>
                          </div>
                          <textarea class="codemirror-textarea" name="code" id="code"></textarea>
                        </fieldset>
                    <fieldset>
                        <div class="row form-group">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                <a href="javascript:void()" onclick="test_run_code()" class="btn btn-banner my-sm-3" style="color: black; padding: 4px; float: right;">Run code</a>
                            </div>
                            <div class="col-sm-4" style="float: right;">
                                <a href="javascript:void()" onclick="document.getElementById('submit_form').submit();" class="btn btn-banner1 my-sm-3" style="padding: 2px;">Submit code</a>
                            </div>
                    </div>
                    
                </fieldset>
            </form>
            <div class="progress-one my-lg-4">
                {% if script_blocked %}
                    <div class="col-18 mt-lg-10 grid">
                            <h3 style="color: red;">Warning!! :-(</h3>
                            </div>
                    <div class="col-18 mt-lg-10 grid">
                        <h6 style="color: red;">Please don't use {{blocked_scripts}} keywords and non-ASCII words!</h6>
                        <p class="mt-2">The above keywords are blocked. Please crack the logic without using them. Don't use them even in or as variable names</p>
                    </div>
                    {% else %}
                    {% if error %}
                    <div class="col-18 mt-lg-10 grid">
                            <h3 style="color: red;">Error! :-(</h3>
                            </div>
                    <div class="col-18 mt-lg-10 grid">
                        <h6 style="color: red;">{{error}}</h6>
                        <p class="mt-2">Please debug the issue and re-submit</p>
                    </div>
                    {% else %}
                    {% if user_output %}
                    <div class="col-18 mt-lg-10 grid">
                            <h3 style="color: green;">Sample test result:</h3>
                            </div>
                    <div class="col-18 mt-lg-10 grid">
                        <h6 style="color: green;">Test input:<br/>
                        {% for input in sample_input_list %}
                        {{input}}<br/>
                        {% endfor %}
                        </h6>
                    </div>
                    <div class="col-18 mt-lg-10 grid">
                        <h6 style="color: green;">Expected output: {{sample_output}}</h6>
                    </div>
                    <div class="col-18 mt-lg-10 grid">
                        <h6 style="color: green;">Your code's output: {{user_output}}</h6>
                    </div>
                    {% else %}
                    {% if pass_rate|float == 100 %}
                    <div class="col-18 mt-lg-10 grid">
                            <h3 style="color: green;">Passed! :-)</h3><br/>
                            </div>
                    <div class="col-18 mt-lg-10 grid">
                        <h6 style="color: green;">Congratulations!! your code passed {{pass_rate}}%</h6>
                        <p class="mt-2">Recommended to explore more tasks to develop skills</p>
                    </div>
                        {% endif %}
                        {% if (pass_rate|float < 100) and (pass_rate|float > 0) %}
                    <div class="col-18 mt-lg-10 grid">
                            <h3 style="color: yellowgreen;">Partially Passed! :-)</h3><br/>
                            </div>
                    <div class="col-18 mt-lg-10 grid">
                        <h6 style="color: yellowgreen;">Nice try.. your code passed {{pass_rate}}%</h6>
                        <p class="mt-2">Please check your logic and try again.</p>
                    </div>
                        {% endif %}
                        {% if (pass_rate == 0) %}
                    <div class="col-18 mt-lg-10 grid">
                            <h3 style="color: rgb(205, 81, 50);">Something not right! :-(</h3><br/>
                            </div>
                    <div class="col-18 mt-lg-10 grid">
                        <h6 style="color: rgb(205, 81, 50);">Need some more effort. Pass rate is: {{pass_rate}}%</h6>
                        <p class="mt-2">Please check your logic and try again.</p>
                    </div>
                        {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    </div>
                </div>
                <div class="column" style="width: 5%;"></div>
                <div  class="column" style="float: right; width: 25%;">
                    <br/>
                    <h4 style="padding: 10px;">Submissions:</h4>
                        <ul class="list-group">
                            {% for user_try_dict in user_tries_list %}
                                <li class="list-group-item sub-meta">
                                    <a href="" onclick="not_developed_alert()" style="display: block;">
                                    Try:{{user_try_dict['try']}}
                                    <span style="float: right;">Score: {{user_try_dict['score']}}</span></a>
                                </li>
                                {% endfor %}
                              </ul>
                </div>
                </div>
        </div>
        </div>
        <!-- Nav tabs -->
{% endblock %}
